# Application
APP_URL=http://localhost:8080

# Auth
JWT_SECRET=

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/db_name
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Mail
SPRING_MAIL_PASSWORD=

# S3 Cloud Storage
SPRING_CLOUD_AWS_S3_ENDPOINT=
SPRING_CLOUD_AWS_S3_REGION=
SPRING_CLOUD_AWS_S3_BUCKET=
SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY=
SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY=
